docker.enabled = true
process.container = 'cbcrg/kallisto-nf:1.1'

params {
  reads = false
  singleEnd = false
  transcriptome = false
  annotation = false
  condition = false
  fragment_len = 180
  fragment_sd = 20
  bootstrap = 100
  rmarkdown = "$baseDir/bin/DE_with_DEseq2.Rmd"
  hallmark_pathways = "$baseDir/assets/h.all.v6.2.symbols.gmt"
  kegg_pathways = "$baseDir/assets/c2.cp.kegg.v6.2.symbols.gmt"
  mir_pathways = "$baseDir/assets/c3.mir.v6.2.symbols.gmt"
  go_pathways = "$baseDir/assets/c5.all.v6.2.symbols.gmt"
  outdir = 'results'
}

process {
  withName: gene_expression {
      container = 'lifebitai/pathway-analysis:latest'
  }
}