docker.enabled = true
process.container = 'lifebitai/pathway-analysis:latest'

params {
  experiment = false
  transcriptome = false
  condition = false
  singleEnd = true
  fragment_len = 180
  fragment_sd = 20
  bootstrap = 100
  rmarkdown = "$baseDir/bin/pathway_analysis_report.Rmd"
  hallmark_pathways = "$baseDir/assets/h.all.v6.2.symbols.gmt"
  kegg_pathways = "$baseDir/assets/c2.cp.kegg.v6.2.symbols.gmt"
  mir_pathways = "$baseDir/assets/c3.mir.v6.2.symbols.gmt"
  go_pathways = "$baseDir/assets/c5.all.v6.2.symbols.gmt"
  outdir = 'results'
}